# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# Python virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
data/
audio/

# Python package management
pip-log.txt
pip-delete-this-directory.txt
# Python wheel package
*.whl

# Log files
*.log

# PyInstaller
# Usually these files are written by a Python script from a template
# before PyInstaller builds the binary.
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Env
*.env

# Docker volumes and data
volumes/
db_data/

# ngrok related files (if any)
ngrok.log
ngrok.yml

# Environment variables file (usually contains sensitive data)
.env

# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Uvicorn log and reload configurations
*.reload
*.log